/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

#default-carousel {
	width: 100% !important;
}

#default-carousel img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}
 