@import '@fontsource/fira-mono';

:root {
	--Pending: #ffd96c;
	--Accept: #6cd273;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	all: unset;
}

.date-time-field {
	input[type='text'] {
		padding: 8px;
		width: 100%;
		border-radius: 0.5rem;
		color: rgb(17 24 39);
		font-size: 0.9rem;
	}
}
.tox-statusbar {
	display: none !important;
}
.tinymce-wrapper {
	height: 100% !important;
}
.tox-tinymce {
	height: 100% !important;
}
