@font-face {
  // font-family: yekan-ku;
  font-style: normal;
  font-weight: normal;
  src: url("./kurdish/ku.ttf");
}
@font-face {
  // font-family: rabar21;
  font-style: normal;
  font-weight: normal;
  src: url("./kurdish/Rabar_021.ttf");
}
@font-face {
  // font-family: rabar22;
  font-style: normal;
  font-weight: normal;
  src: url("./kurdish/Rabar_022.ttf");
}
